/*  MOBI innreach_styles.css updated 080827 lee  */



body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, input, textarea

{ font-family: Verdana, Arial, Helvetica, sans-serif; }

tt, pre { font-family: "Courier New", Courier, mono, monospace; }

body, div, p, form, ol, li, th, td, select, input, textarea

{ font-size: 12px; color: #000000; }

body#opac-menu {
padding-top:5%;
}

a {
  color:#002e5f;
  text-decoration:underline;
  }
  
a:hover { color: #0097a9; text-decoration: underline; }

.blurb { font-size: 11px; }

.button { vertical-align: top; }

h2 { font-size: 16px; color: #002e5f; }

h3 { font-size: 14px; color: #002e5f; }

hr { color: #cccccc; }

.mainSpacer { margin: 0 1em 1em 1em; }

.navRow { text-align:center; padding: 5px; }

.nounderline; { text-decoration: none; }

.nowrap { white-space: nowrap; }

.qs { font-size: 10px; color: #000000; }

TABLE { border-color: #cccccc; border-collapse: collapse; }

.with-borders

{ border-collapse: separate; border: none; }

TABLE.browseList

{ border-width: 2px; border-color: #cccccc; border-style: solid; margin-bottom: 10px; }

.ft-bar {
height:4px;
background-color:#002e5f;
}


td.table-top {
text-align:center;
height:2em;
color:#fff;
background-color:#002e5f;
}
/*  MOBIUS CLUSTER HELP PAGES CLASSES */

.list { font: x-small Arial, Helvetica, sans-serif; }

h4 { font: small bold Arial, Helvetica, sans-serif; }

#clusterHelp {

margin-left: 3%;

font-family: Arial, Helvetica, sans-serif;

font-size: small;

}

.institution { width: 400px; text-align: left; }

.cluster {width: 250px; text-align: left; }

/*  END MOBIUS CLUSTER HELP PAGES CLASSES */



/* TOPLOGO IMAGE CLASSES */

toplogo { 

	background-color:#ffffff; 

	text-align: left;

	vertical-align:top;

	width: 99%;

}

toplogo1 { 

	background-color: #ffffff; 

	text-align: right;

	vertical-align:top;

	width:1%;

} 

/* END TOPLOGO IMAGE CLASSES */



ul { font-size: 12px; color: #002e5f; }



/*************************************** III STANDARD STYLE CLASSES *********************************/



/* GENERAL STYLE SHEET CLASSES */

.errormessage { font-size: large; color: red; }



/* AUTHORITY REDIRECTION CLASSES */

/*.authTerm

.unauthTerm*/



/* BIBLIOGRAPHIC DISPLAY CLASSES */

/* bibBookingsHeader

bibDetail

bibHoldings

bibHoldingsEntry

bibHoldingsHeader

bibHoldingsLabel

bibHolds

bibHoldsEntry

bibInfo

bibInfoData

bibInfoEntry

bibInfoLabel

bibItems

bibItemsEntry

bibItemsHeader

bibItemsLabel

bibLicense

bibLicenseEntry

bibLicenseHeader

bibLinks

bibOrder

bibOrderEntry */

.bibPager { text-align: center; }

/* bibResource

bibResourceBrief

bibResourceCaption

bibResourceEntry

bibResourceEntry td

bibResourceHeader

bibResourceLicense

bibResourceLicenseEntry

bibResourceSubEntry

bibResourceTable

bibResourceTableEntry

bibResourceTableHeader

bibScreen

bibSearchtool

bibThumbnails

bibTOC

bibXML

patFuncReviewFull

patFuncReviewHeadline */



/* BOOKINGS DISPLAY CLASSES */



/* BROWSE DISPLAY CLASSES */



/* BRIEFCIT DISPLAY CLASSES */

/*.briefCitItems

.briefCitRow {  }*/



/* Featured Lists Display Classes */



/* Feeds Display Classes */



/* Limit/Sort Display Classes */



/* Patron Record Display Classes */



/* Request Display Classes */



/* Resource Display Classes */



/* WebBridge Display Classes */



/* XML Display Classes */



