a, a:link, a:visited {text-decoration:none;color:black;}
body {background:none !important;}
.bareBreaker{display:none;}
.bibInfoLabel, .bibInfoData, .holdingsTable, .pageContentColumn table, table.holdingsTable td, table.holdingsTable th {font-size:12px;}.bibHistoryRow{display:none;}
.bibLinks{display:none;}
.bibRecordLink{display:none;}
.bibSearch{display:none;}
#footer{display:none;}
table.holdingsTable td, table.holdingsTable th {border:none;padding:none;}
.instTable{display:none;}
.pageContentColumn, table.holdingsTable, div #bibDisplayContentMore, .bibDetail {background:none; border:none; margin:0; padding:0; width:100%; float:none;}
.pageContentColumn img{display:none;}
.pageContentColumn table {border:none;padding:none;}
.pageNavColumn{display:none;}
#skipNav{display:none;}
.topLogoDiv {background:none;}
.topLogoDiv img{border:none;}




